<mat-card>
    <mat-card-header>
        <mat-card-title>Perform sync and async commands on server</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small" style="margin: 10px;">
            (User) 1. <u>Bash</u> : "OK. Working with server runtime environment."
            <br>
            <app-KvmOperationBash></app-KvmOperationBash>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 2. <u>DoBashAsync</u> : "OK. Working with server runtime
            environment."
            <br>
            <app-KvmOperationDoBash></app-KvmOperationDoBash>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>