<mat-card>
    <mat-card-header>
        <mat-card-title>Manipulation with project servers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small" style="margin: 10px;">
            (Admin) 1. <u>AddServer</u> : "API not found"
            <br>
            <app-DatacenterAddServer></app-DatacenterAddServer>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 2. <u>DelServer</u> : "API not found"
            <br>
            <app-DatacenterDelServer></app-DatacenterDelServer>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 3. <u>UpdServer</u> : "API not found"
            <br>
            <app-DatacenterUpdServer></app-DatacenterUpdServer>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>