<mat-card>
    <mat-card-header>
        <mat-card-title>Summary information about allocated project resourses</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small" style="margin: 10px;">
            (Admin) 1. <u>GetServerStorageDevice</u> : "OK. Working with DB
            only."
            <br>
            <app-KvmInfoGetServerStorageDevice></app-KvmInfoGetServerStorageDevice>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 2. <u>GetFreeIP</u> : "OK. Working with DB only."
            <br>
            <app-KvmInfoGetFreeIP></app-KvmInfoGetFreeIP>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 3. <u>GetFreeKvmVolume</u> : "OK. Working with DB only."
            <br>
            <app-KvmInfoGetFreeKvmVolume></app-KvmInfoGetFreeKvmVolume>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 4. <u>GetKvmVolume</u> : "OK. Working with DB only."
            <br>
            <app-KvmInfoGetKvmVolume></app-KvmInfoGetKvmVolume>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 5. <u>ServerInfo</u> : "OK. Working with DB only."
            <br>
            <app-KvmInfoServerInfo></app-KvmInfoServerInfo>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 6. <u>NetworkInfo</u> : "OK. Working with DB only."
            <br>
            <app-KvmInfoNetworkInfo></app-KvmInfoNetworkInfo>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 7. <u>PoolInfo</u> : "OK. Working with DB only."
            <br>
            <app-KvmInfoPoolInfo></app-KvmInfoPoolInfo>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 8. <u>StorageInfo</u> : "OK. Working with DB only."
            <br>
            <app-KvmInfoStorageInfo></app-KvmInfoStorageInfo>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 9. <u>AccessInfo</u> : "OK. Working with DB only."
            <br>
            <app-KvmInfoAccessInfo></app-KvmInfoAccessInfo>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 10. <u>GetKvmVlan</u> : "OK. Working with DB."
            <br>
            <app-KvmInfoGetKvmVlan></app-KvmInfoGetKvmVlan>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 11. <u>GetKvmNetworkInterface</u> : "OK. Working with DB."
            <br>
            <app-KvmInfoGetKvmNetworkInterface></app-KvmInfoGetKvmNetworkInterface>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 12. <u>GetKvmBridge</u> : "OK. Working with DB."
            <br>
            <app-KvmInfoGetKvmBridge></app-KvmInfoGetKvmBridge>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 13. <u>GetKvmBridgePort</u> : "OK. Working with DB."
            <br>
            <app-KvmInfoGetKvmBridgePort></app-KvmInfoGetKvmBridgePort>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 14. <u>GetVlanSwitch</u> : "OK. Working with DB." <br>
            <app-KvmInfoGetVlanSwitch></app-KvmInfoGetVlanSwitch>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>