

<div style="display: flex; flex-direction: column; padding: 20px; width:
  150px;;">
  <div style="text-align:center"><img src="assets/logo.png" style="width:
      50px;">
  </div>
  <a mat-flat-button color="primary" [routerLink]="['/login']" style="margin:
    5px;" class="mat-small">
    Login
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/aes']" style="margin:
    5px;" class="mat-small">
    Aes
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/container']"
    style="margin: 5px;" class="mat-small">
    Container
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/datacenter']"
    style="margin: 5px;" class="mat-small">
    Datacenter
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/db-masternode']"
    style="margin: 5px;" class="mat-small">
    DbMasternode
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/docker']" style="margin:
    5px;" class="mat-small">
    Docker
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/kvm-deploy-vm']"
    style="margin: 5px;" class="mat-small">
    KvmDeployVm
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/kvm-disk-operation']"
    style="margin: 5px;" class="mat-small">
    KvmDiskOperation
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/kvm-info']" style="margin:
    5px;" class="mat-small">
    KvmInfo
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/kvm-ip']" style="margin:
    5px;" class="mat-small">
    KvmIp
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/kvm-operation']"
    style="margin: 5px;" class="mat-small">
    KvmOperation
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/kvm-vm']" style="margin:
    5px;" class="mat-small">
    KvmVm
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/notification']"
    style="margin: 5px;" class="mat-small">
    Notification
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/registry']" style="margin:
    5px;" class="mat-small">
    Registry
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/users']" style="margin:
    5px;" class="mat-small">
    Users
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/vm-image']" style="margin:
    5px;" class="mat-small">
    VmImage
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/vm-masternode']"
    style="margin: 5px;" class="mat-small">
    VmMasternode
  </a>
  <a mat-flat-button color="primary" [routerLink]="['/vm-operation']"
    style="margin: 5px;" class="mat-small">
    VmOperation
  </a>
  <mat-divider style="margin: 10px;"></mat-divider>
  <a mat-flat-button color="primary" target="_blank"
    href="http://www.cryptochest.io:90/" style="margin:
    5px;" class="mat-small">
    OldSite
  </a>
  <a mat-flat-button color="primary" target="_blank"
  href="http://www.cryptochest.io:120/" style="margin:
    5px;" class="mat-small">
    OldLandingPage
  </a>
  <a mat-flat-button color="primary" target="_blank"
  href="http://www.cryptochest.io:100/" style="margin:
    5px;" class="mat-small">
    NewSite
  </a>
  <mat-divider style="margin: 10px;"></mat-divider>
  <a mat-flat-button color="primary" [routerLink]="['/welcome']" style="margin:
    5px;" class="mat-small">
    Welcome
  </a>
</div>
