<mat-card>
    <mat-card-header>
        <mat-card-title>Manipulation with container</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small" style="margin: 10px;">
            (User) 1. <u>StartContainerRaw</u> : "OK. Finished. Working with Bash."
            <br>
            <app-ContainerStartContainerRaw></app-ContainerStartContainerRaw>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 2. <u>StartMasterNodeContainerByBash</u> : "OK. Finished. Working
            with
            Bash."
            <br>
            <app-ContainerStartMasterNodeContainerByBash></app-ContainerStartMasterNodeContainerByBash>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 3. <u>CreateContainerByDockerRaw</u> : "OK. Finished, but wrong
            parameters
            to start. Working with DockerAPI. Pass raw JSON to DockerDaemon. "
            <br>
            <app-ContainerCreateContainerByDockerRaw></app-ContainerCreateContainerByDockerRaw>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 4. <u>CreateContainerByDocker</u> : "OK. Finished, but wrong
            parameters to
            start. Working with DockerAPI."
            <br>
            <app-ContainerCreateContainerByDocker></app-ContainerCreateContainerByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 5. <u>StartContainerByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerStartContainerByDocker></app-ContainerStartContainerByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 6. <u>StopContainerByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerStopContainerByDocker></app-ContainerStopContainerByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 7. <u>RestartContainerByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerRestartContainerByDocker></app-ContainerRestartContainerByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 8. <u>RemoveContainerByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerRemoveContainerByDocker></app-ContainerRemoveContainerByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 9. <u>ReadContainerLogByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerReadContainerLogByDocker></app-ContainerReadContainerLogByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 10. <u>ListAllContainersByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerListAllContainersByDocker></app-ContainerListAllContainersByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 11. <u>ListRunningContainersByDocker</u> : "OK. Finished. Working
            with
            DockerAPI."
            <br>
            <app-ContainerListRunningContainersByDocker></app-ContainerListRunningContainersByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 12. <u>InspectContainerByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerInspectContainerByDocker></app-ContainerInspectContainerByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 13. <u>ListContainerProcessesByDocker</u> : "OK. Finished. Working
            with
            DockerAPI."
            <br>
            <app-ContainerListContainerProcessesByDocker></app-ContainerListContainerProcessesByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 14. <u>ListImagesByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerListContainerProcessesByDocker></app-ContainerListContainerProcessesByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 15. <u>ListVolumesByDocker</u> : "OK. Finished. Working with
            DockerAPI."
            <br>
            <app-ContainerListVolumesByDocker></app-ContainerListVolumesByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 16. <u>AttachToContainerByDocker</u> : "API not found. Hard to
            programming."
            <br>
            <app-ContainerAttachToContainerByDocker></app-ContainerAttachToContainerByDocker>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>