<mat-card>
    <mat-card-header>
        <mat-card-title>Operation with project users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small">
            (Anon) 1. <u>Authenticate</u> : "Ok. Finished."
            <br>
            <app-UsersAuthenticate></app-UsersAuthenticate>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 2. <u>GetAll</u> : "Ok. Finished."
            <br>
            <app-UsersGetAll></app-UsersGetAll>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>