<mat-card>
    <mat-card-header>
        <mat-card-title>Manipulation with IP adresses</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small" style="margin: 10px;">
            (Admin) 1. <u>GetRuntimeBridgeList</u> : "OK. Working with server runtime
            environment."
            <br>
            <app-KvmIpGetRuntimeBridgeList></app-KvmIpGetRuntimeBridgeList>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 2. <u>GetRuntimeBridgePorts</u> : "OK. Working with server runtime
            environment."
            <br>
            <app-KvmIpGetRuntimeBridgePorts></app-KvmIpGetRuntimeBridgePorts>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 3. <u>GetRuntimeRoute</u> : "Ok. Working with server runtime
            environment."
            <br>
            <app-KvmIpGetRuntimeRoute></app-KvmIpGetRuntimeRoute>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 4. <u>GetIpConfig</u> : "Ok. Working with server runtime
            environment."
            <br>
            <app-KvmIpGetIpConfig></app-KvmIpGetIpConfig>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 5. <u>GetUfwRules</u> : "OK. Working with server runtime
            environment."
            <br>
            <app-KvmIpGetUfwRules></app-KvmIpGetUfwRules>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 6. <u>GetRuntimeIpList</u> : "OK. Working with server runtime
            environment."
            <br>
            <app-KvmIpGetRuntimeIpList></app-KvmIpGetRuntimeIpList>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>