<mat-card>
    <mat-card-header>
        <mat-card-title>Project cryptography functions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small" style="margin: 10px;">
            (Anon) 1. <u>NetCrypt</u> : "OK. Finished."
            <br>
            <app-AesNetCrypt></app-AesNetCrypt>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Anon) 2. <u>NetDeCrypt</u> : "OK. Finished."
            <br>
            <app-AesNetDeCrypt></app-AesNetDeCrypt>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 3. <u>SqlCrypt</u> : "OK. Finished."
            <br>
            <app-AesSqlCrypt></app-AesSqlCrypt>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 4. <u>SqlDeCrypt</u> : "OK. Finished."
            <br>
            <app-AesSqlDeCrypt></app-AesSqlDeCrypt>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 5. <u>UpdateDecryptedPass</u> : "OK. Finished."
            <br>
            <app-AesUpdateDecryptedPass></app-AesUpdateDecryptedPass>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Admin) 6. <u>CheckDecryptPass</u> : "OK. Finished."
            <br>
            <app-AesCheckDecryptPass></app-AesCheckDecryptPass>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Anon) 7. <u>GetRandomPassword</u> : "OK. Finished."
            <br>
            <app-AesGetRandomPassword></app-AesGetRandomPassword>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Anon) 8. <u>GetRandomName</u> : "OK. Finished."
            <br>
            <app-AesGetRandomName></app-AesGetRandomName>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Anon) 9. <u>UpdDecryptedPass</u> : "OK. Finished."
            <br>
            <app-AesUpdateDecryptedPass></app-AesUpdateDecryptedPass>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>