<mat-card>
    <mat-card-header>
        <mat-card-title>Pushing notification from Backend to Frontend</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small">
            (User) 1. <u>AddBashJob</u> : "Ok. Finished."
            <br>
            <app-NotificationAddBashJob></app-NotificationAddBashJob>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 2. <u>BashJobFinished</u> : "Ok. Finished."
            <br>
            <app-NotificationBashJobFinished></app-NotificationBashJobFinished>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 3. <u>FlushAllNotificationForOneUser</u> : "Ok. Finished."
            <br>
            <app-NotificationFlushAllNotificationForOneUser></app-NotificationFlushAllNotificationForOneUser>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 4. <u>FlushNotification</u> : "Ok. Finished."
            <br>
            <app-NotificationFlushNotification></app-NotificationFlushNotification>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 5. <u>ListNotificationCacheWaitingToSendToSubscriber</u> : "Ok.
            Finished."
            <br>
            <app-NotificationListNotificationCacheWaitingToSendToSubscriber></app-NotificationListNotificationCacheWaitingToSendToSubscriber>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 6. <u>ListAllClientConnectionToHub</u> : "Ok. Finished."
            <br>
            <app-NotificationListAllClientConnectionToHub></app-NotificationListAllClientConnectionToHub>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 7. <u>NotificationCacheState</u> : "Ok. Finished."
            <br>
            <app-NotificationNotificationCacheState></app-NotificationNotificationCacheState>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 8. <u>NotifyAllClientsSRV</u> : "Ok. Finished."
            <br>
            <app-NotificationNotifyAllClientsSRV></app-NotificationNotifyAllClientsSRV>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 9. <u>NotifyOneClientSRV</u> : "Ok. Finished."
            <br>
            <app-NotificationNotifyOneClientSRV></app-NotificationNotifyOneClientSRV>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 10. <u>NotifyAllClientsTST</u> : "Ok. Finished."
            <br>
            <app-NotificationNotifyAllClientsTST></app-NotificationNotifyAllClientsTST>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 11. <u>NotifyOneClientTST</u> : "Ok. Finished."
            <br>
            <app-NotificationNotifyOneClientTST></app-NotificationNotifyOneClientTST>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 12. <u>ListAllDockerEventsConnectionToHub</u> : "Ok. Finished."
            <br>
            <app-NotificationListAllDockerEventsConnectionToHub></app-NotificationListAllDockerEventsConnectionToHub>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 13. <u>NotifyAllDockerEventsClientsTST</u> : "Ok. Finished."
            <br>
            <app-NotificationNotifyAllDockerEventsClientsTST></app-NotificationNotifyAllDockerEventsClientsTST>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 14. <u>NotifyOneDockerEventsClientTST</u> : "Ok. Finished."
            <br>
            <app-NotificationNotifyOneDockerEventsClientTST></app-NotificationNotifyOneDockerEventsClientTST>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 15. <u>ContainerStart</u> : "Ok. Finished."
            <br>
            <app-NotificationContainerStart></app-NotificationContainerStart>
            <mat-divider style="margin: 10px;"></mat-divider>
            (Notif) 16. <u>ContainerStop</u> : "Ok. Finished."
            <br>
            <app-NotificationContainerStop></app-NotificationContainerStop>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>