<mat-card>
    <mat-card-header>
        <mat-card-title>Accounting project masternodes to db</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small" style="margin: 10px;">
            (User) 1.<u>AddMasternodeInfo</u> : "OK. Working with DB only."
            <br>
            <app-DbMasternodeAddMasternodeInfo></app-DbMasternodeAddMasternodeInfo>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 2. <u>DelMasternodeInfo</u> : "OK. Working with DB only."
            <br>
            <app-DbMasternodeDelMasternodeInfo></app-DbMasternodeDelMasternodeInfo>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 3. <u>GetMasternodeInfo</u> : "OK. Working with DB only."
            <br>
            <app-DbMasternodeGetMasternodeInfo></app-DbMasternodeGetMasternodeInfo>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>