<header>
    <mat-toolbar color="primary">
      <button mat-icon-button [routerLink]="['/']">
        <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

        <!-- <mat-icon>
          home
        </mat-icon> -->
      </button>
      <a mat-flat-button color="primary" class="mat-small" [routerLink]="['/login']" class="mat-small">
         Login
      </a>
 <!--      <a *ngIf="isLoggedIn" mat-flat-button color="primary" class="mat-small" (click)="onLogout()">
         Logout
      </a> -->
      <a mat-flat-button color="primary" [routerLink]="['/aes']" class="mat-small">
        Aes
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/container']" class="mat-small">
        Container
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/datacenter']" class="mat-small">
        Datacenter
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/db-masternode']" class="mat-small">
        DbMasternode
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/docker']" class="mat-small">
        Docker
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/kvm-deploy-vm']" class="mat-small">
        KvmDeployVm
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/kvm-disk-operation']" class="mat-small">
        KvmDiskOperation
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/kvm-info']" class="mat-small">
        KvmInfo
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/kvm-ip']" class="mat-small">
        KvmIp
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/kvm-operation']" class="mat-small">
        KvmOperation
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/kvm-vm']" class="mat-small">
        KvmVm
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/notification']" class="mat-small">
        Notification
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/registry']" class="mat-small">
        Registry
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/users']" class="mat-small">
        Users
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/vm-image']" class="mat-small">
        VmImage
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/vm-masternode']" class="mat-small">
        VmMasternode
      </a>
      <a mat-flat-button color="primary" [routerLink]="['/vm-operation']" class="mat-small">
        VmOperation
      </a>
    </mat-toolbar>
  </header>
  
