<mat-card>
    <mat-card-header>
        <mat-card-title>Deploy user Virtual Machine to server</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="mat-small" style="margin: 10px;">
            (User) 1. <u>DeployVM</u> : "Ok. BLL function working with singlton
            service"
            <br>
            <app-KvmDeployVmDeployVM></app-KvmDeployVmDeployVM>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 2. <u>AbortDeployVM</u> : "Ok. BLL function working with singlton
            service"
            <br>
            <app-KvmDeployVmAbortDeployVM></app-KvmDeployVmAbortDeployVM>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 3. <u>GetCurrentDeploymentLog</u> : "Ok. BLL function working with
            singlton
            service"
            <br>
            <app-KvmDeployVmGetCurrentDeploymentLog></app-KvmDeployVmGetCurrentDeploymentLog>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 4. <u>GetCurrentDeploymentState</u> : "Ok. BLL function working with
            singlton service"
            <br>
            <app-KvmDeployVmGetCurrentDeploymentState></app-KvmDeployVmGetCurrentDeploymentState>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 5. <u>SelectPartitionToDeploy1</u> : "Ok. Working with server
            runtime
            environment and DB."
            <br>
            <app-KvmDeployVmSelectPartitionToDeploy1></app-KvmDeployVmSelectPartitionToDeploy1>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 6. <u>AllocatePartition2</u> : "OK. Working with server runtime
            environment
            and DB."
            <br>
            <app-KvmDeployVmAllocatePartition2></app-KvmDeployVmAllocatePartition2>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 7. <u>CopyTemplate2</u> : "API not found."
            <br>
            <app-KvmDeployVmCopyTemplate2></app-KvmDeployVmCopyTemplate2>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 8. <u>SetUpIpName3</u> : "API not found."
            <br>
            <app-KvmDeployVmSetUpIpName3></app-KvmDeployVmSetUpIpName3>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 9. <u>SetUpMasternode4</u> : "API not found."
            <br>
            <app-KvmDeployVmSetUpMasternode4></app-KvmDeployVmSetUpMasternode4>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 10. <u>BuildXmlVmConfig5</u> : "OK. Text parser only."
            <br>
            <app-KvmDeployVmBuildXmlVmConfig5></app-KvmDeployVmBuildXmlVmConfig5>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 11. <u>AddVmToKvm6</u> : "API not found."
            <br>
            <app-KvmDeployVmAddVmToKvm6></app-KvmDeployVmAddVmToKvm6>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 12. <u>AddVmToDb7</u> : "API not found."
            <br>
            <app-KvmDeployVmAddVmToDb7></app-KvmDeployVmAddVmToDb7>
            <mat-divider style="margin: 10px;"></mat-divider>
            (User) 13. <u>AddMasterNodeToDb8</u> : "API not found."
            <br>
            <app-KvmDeployVmAddMasterNodeToDb8></app-KvmDeployVmAddMasterNodeToDb8>
            <mat-divider style="margin: 10px;"></mat-divider>
        </mat-list>
    </mat-card-content>
</mat-card>